html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--white);
}
a {
  text-decoration: none;
}
:root {
  --white: #ffffff;
  --light-grey: #f2f2f2;
  --dark-grey: #262626;
  --middle-grey: #616161;
  --black: #000000;
  --blue: #0067b8;
}

nav {
  width: 95%;
  /* border: 1px black solid; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* white-space: nowrap; */
}
.navigation-wrap-left {
  display: flex;
  align-items: center;
}
.navigation-wrap-left img {
  width: 60%; 
}
.navigation-logo {
  flex: 0 0 auto;
  margin-right: -7rem;
}
.navigation-list li {
  list-style: none;
  text-align: center;
  font-size: 0.8rem;
  display: inline;
  padding: 0 0.5rem;
}
.navigation-list a {
  color: var(--dark-grey);
}
.navigation-wrap-right {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.navigation-right-link a {
  font-size: 0.8rem;
  padding: 0 0.5rem;
  color: var(--dark-grey);
}
